*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.search{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: aliceblue;
    padding: 1% 0%;
}
#search{
    height: 40px;
    border: none;
    outline: none;
    width: 60%;
}
